# This workflow runs some negative VeriFast test cases, to ensure
# that VeriFast actually catches bugs.

name: VeriFast (negative)

on:
  workflow_dispatch:
  merge_group:
  pull_request:
    branches: [ main ]
  push:
    paths:
      - 'library/**'
      - '.github/workflows/verifast.yml'
      - 'verifast-proofs/**'

defaults:
  run:
    shell: bash

jobs:
  check-verifast-on-std:
    name: Verify std library
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: Install VeriFast
        run: |
          cd ~
          curl -OL https://github.com/verifast/verifast/releases/download/25.11/verifast-25.11-linux.tar.gz
          # https://github.com/verifast/verifast/attestations/14103492
          echo '990c3cadba7cfc9ef9c19d5f1ff039fd746155164fe4a5ec365c625182400f3e  verifast-25.11-linux.tar.gz' | shasum -a 256 -c
          tar xf verifast-25.11-linux.tar.gz

      - name: Install the Rust toolchain used by VeriFast
        run: rustup toolchain install nightly-2025-10-09

      - name: Run VeriFast Verification
        run: |
          export PATH=~/verifast-25.11/bin:$PATH
          cd verifast-proofs
          bash check-verifast-proofs-negative.sh
